.Header {
	padding: 30px 0;
	background-color: transparent;
	user-select: none;
	position: fixed;
	width: 100%;
	.content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h1 {
			color: white;
			font-weight: 700;
			cursor: pointer;
		}
		select {
			padding-block: 7px;
			padding-inline: 20px;
			background-color: #242b33;
			border: none;
			outline: none;
			color: yellow;
			border: 2px solid yellow;
			border-radius: 10px;
		}
		.nav {
			display: flex;
			gap: 50px;
			a {
				font-weight: 400;
				font-size: 17px;
				line-height: 100%;
				letter-spacing: 5%;
				color: #ffffff;
				transition: all 0.4s ease-in-out;
				&:hover {
					color: yellow;
					transform: scale(1.0123787678);
				}
			}
		}
	}
}
